*, *:before, *:after {
  box-sizing: border-box;
}

body {
  background-color: black;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

.container {
  margin: 0 auto;
  width: 400px;
  background-color: white;
}

.container img {
  height: 100%;
  width: 100%;
}

.navbar {
  height: auto;
  width: auto;
}

h1 {
  font-size: 24px;
  font-weight: bold;
  text-align: left;
  padding-top: 2px;
  padding-bottom: 7px;
}

ul {
  padding-top: 15px;
}

li {
  list-style-type: none;
}

.buses {
  padding-left: 25px;
  box-shadow: 0px -1px 2px grey, 0px 1px 2px #CDCED2;
  border-radius: 8px;
}

.busroute {
  border-bottom: 1px solid #D8D8D8;
  padding-bottom: 7px;
}

.busroute li {
  display: inline;
}

.frequency {
  font-size: 12px;
  font-weight: lighter;
  font-style: italic;
  color: grey;
  width: 300px;
  text-align: left;
}

.line {
  font-weight: bold;
  text-align: left;
  display: inline;
}

.destination {
  font-weight: bold;
  display: inline;
}

.route {
  text-align: left;
}

.out-of-service {
  float: right;
  color: grey;
  padding-right: 25px;
}

.eastbound {
  float: right;
  color: #A53ED6;
  padding-right: 25px;
  font-weight: 500;
  font-size: 18px;
}

.northbound {
  float: right;
  color: #41B855;
  padding-right: 25px;
  font-weight: 500;
  font-size: 18px;
}

.southbound {
  float: right;
  color: #3EBAD6;
  padding-right: 25px;
  font-weight: 500;
  font-size: 18px;
}

.reroute {
  float: right;
  color: grey;
  padding-right: 25px;
}

.footer {
  text-align: center;
  color: grey;
  background-color: #EFEFEF;
}

.footer li {
  display: inline-block;
  padding-left: 7%;
  padding-right: 7%;
  padding-bottom: 5%;
}

.footer p {
  padding-top: 15%;
  font-size: 10px;
}

.footer img {
  width: auto;
  height: auto;
}
